body
{
	background-color: #7DE2D1;
} 

#content-area
{
	width: 48%;
	height: 60em;
	background-color: #DAF7DC;
	margin: auto;
	padding: 2px;
	border-style: solid;
	border-color: #DAF7DC;
	border-width: 2px;
	box-shadow: 8px 7px 7px #888888;
}

#quiz-header
{
	height: 10em;
	width: 56.9em;
	background-color: #A5D8FF;
	border-color: #BFB6BB;
	border-width: 1.2px;
	border-style: solid;
	margin: auto;
	margin-top: -60.47em;
	position: relative;
	/* Allow #header-text to move freely */
	overflow: auto;
	/* End */

}

#header-text
{
	/* Remove Default Heading Space*/
	margin: 0;
	padding: 0;
	/* End */
	position: relative;
	margin-left: 5.2em;
	margin-top: 2.1em;
	font-family: 'Cormorant Garamond', serif;
	font-size: 32px;
    font-weight:250;
}